
*.ini
MyProject/Saved/webcache_4430/Visited Links
MyProject/Saved/webcache_4430/Session Storage/LOCK
MyProject/Saved/webcache_4430/Session Storage/LOG
MyProject/Saved/webcache_4430/Session Storage/000003.log
MyProject/Saved/webcache_4430/Session Storage/CURRENT
/MyProject/Saved/webcache_4430
*.json
*.log
*.uproject
*.bin
*.uasset
*.umap
